﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B4's Unofficial MocoMaker List!</title>
    <style>
        @font-face {
            font-family: 'Fira Sans';
            src: url(./FiraSans-Book.otf);
        }
        thead {
            
        }
        table {
            table-layout: fixed;
            width: 30vw;
            border-collapse: collapse;
            border: 3px solid purple;
            margin: 1.5rem 0;
        }
        tr {
            border: solid;
            border-width: 1px 0;
        }
        
        #container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            font-family: 'Fira Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        #introduction{
            font-family: 'Fira Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .table-head{
            background-color: lightblue;
        }
        .cat-head{
            width: 10vw;
        }
        
        @media (max-width: 1000px) {
            #container {
                flex-direction: column;
                align-items: center;
            }
            
            table {
                width: 50vw;
                
            }
        }
    </style>
</head>
<body>

<div id="introduction">
    <h1>Welcome Moco Locos!</h1>
    <p>This list, ripped unceremoniously from the MocoMade Discord posting, is a little bit easier to search and use than the discord posts.</p>
    <p><em>If you are on this list and there is erroneous information, let b4ux1t3 know and he'll figure out if it's his fault or Derek's.</em></p>
</div>

<hr>

<div id="container">
    {{MOCOGOHERE}}
</div>

    
</body>
</html>